.loading{
    width: 100%;
    height: 380px;
    background: url('../assets/loading.gif') no-repeat center;
}
.zloading{
    width: 100%;
    height: 216px;
    background: url('../assets/loading.gif') no-repeat center;
}